<div class="col-xs-12">
      <div class="jumbotorn text-center">
          <h1>Edit Item Below</h1>
      </div>
      <form>
          <div class="form-group">
            <input type="text" class="form-control"  ng-model="editItemName">
          </div>
          <div class="form-group">
            <a href="#/" style="margin-bottom:10px;" class="btn btn-success imary btn-lg btn-block" ng-click="save()">
            SAVE
            </a>
          </div>
          <div class="form-group">
            <a href="#/" style="margin-bottom:10px;" class="btn btn-default btn-lg btn-block">
            CANCLE
            </a>
          </div>
      </form>
{{editItemName}}

</div>
