<div class="col-xs-12">
  <a href="#!addItem" style="margin-bottom:10px;" class="btn btn-primary btn-lg btn-block">
  Add Grocery Items
  </a>
  <ul class="list-group">
    <li class="list-group-item text-center clearfix" ng-repeat="item in groceryItems | orderBy:'-date'">
      <a href="#!editItem/{{item.id}}" class="btn btn-default float-left">
      <span class="fas fa-edit"></span></a>
      <span style="font-weight:bold;">{{item.itemName | uppercase}}</span>
      <a href="#/" class="btn btn-default float-right" ng-click="delete(item)">
      <span class="fas fa-trash"></span></a>
    </li>

  </ul>
</div>
